.jumbotron{
    text-align: center;
    font-weight: bold;
    background-image: url("pictures/weather.png");
    border-radius: 0;
    border-bottom: 10px solid black;
}

body{
    background-color: aliceblue;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#forecastH5{
    font-size: 2rem;
    border-bottom: 2px solid black;
}
