.jumbotron{
    text-align: center;
    background-image: url("pictures/weather.png");
    border-radius: 0;
    border-bottom: 10px solid black;
}

.city-div {
    border: 1px solid lightblue;
    border-radius: 0.25rem;
    padding-left: 1rem;
}