.jumbotron{
    text-align: center;
    background-image: url("pictures/weather.png");
    border-radius: 0;
    border-bottom: 10px solid black;
}

#todayDisplay{
    border-radius: 0.25rem;
    padding-left: 1rem;
    width: 50rem;
   

}